/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css');
@import url('https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css');
@import '~styles/helpers/_module';
@import 'upscale-helpers/upscale_variables';

html {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	font-size: 62.5%;
}

html,
body {
	font-family: $base-font-family;
	color: $upscale-grey2;
	background-color: $white;
}

body {
	margin: 0;
	@include base-font-size;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.set-detail-dialog {
	min-width: 700px !important;
	max-width: 700px !important;
	min-height: unset !important;
	overflow-y: auto;
	mat-dialog-container {
		padding: 0;
		mat-dialog-content {
			margin: 0;
			& > div {
				flex: 0 0;
			}
		}
	}
}

// normalize css settings
h1,
h2,
h3,
h4 {
	margin: 0;
	font-size: inherit;
	font-weight: inherit;
}

button {
	padding-left: 0;
	padding-right: 0;
}

.generic-alert-dialog {
	mat-dialog-container {
		padding: 0;
		overflow: visible;
	}
}

.template-overlay-backdrop {
	background-color: white;
}

.navigation-slideout-backdrop {
	background-color: transparent;
}

.upscale-dropdown-panel {
	.mat-option {
		height: auto !important;
		line-height: inherit !important;
	}
}
upscale-header .header.container-content {
    max-width: 1500px !important;
    width: 85% !important;
}
.upscale-desktop upscale-custom-component[data-component-id="2240e0f9-a303-4640-a09a-17e713e7d927"] .container-content {
    max-width: 100vw;
		width: 100vw;
}

.upscale-desktop upscale-custom-component[data-component-id="651a69f5-f85f-4caa-a085-0a95c12399f5"] .container-content {
    max-width: 100vw;
		width: 100vw;
}
iframe{
	max-width: 1903px;
}

.upscale-desktop {
	.header.container-content {
		display: grid;
		grid-template-areas: "logo menu1 menu2";
		grid-template-columns: 20% 50% 20%;
	}
	.header__top{
		display:contents !important;
	}
	.header__logo-image-wrapper {
		grid-area: logo;
	}
	.header__top-navbar{
		grid-area: menu2;
	}
	.header__bottom{
		grid-area: menu1;
		align-items: center;
		display: flex;
	}
		nav ul li:first-child a{
		color: #009CDA !important;
		font-weight: bold !important;
	}
	.header__top-left{
		height: 105px !important;
	}
}
.header__logo-image.desktop{
	max-height: 46px;
}
upscale-global-consent{
	background-color: #009CDA !important;
}
upscale-consent-input .content a .link{
	color: #FFFFFF !important;
}
upscale-consent-input .accept{
	border: none !important;
	color: #009cda !important;
	background: #ffffff !important;
}



// generic styles for text
.generic-text-extra-large {
	@include extra-large-font-size;
}

.generic-text-large {
	@include large-font-size;
}

.generic-text-medium {
	@include medium-font-size;
}

.generic-text-base {
	@include base-font-size;
}

.generic-text-small {
	@include small-font-size;
}

.component-headline-group {
	padding: $medium-spacer-desktop 0;
}

.component-headline-group:empty {
	display: none;
}

.upscale-tablet {
	.component-headline-group {
		padding: $medium-spacer-tablet 0;
	}
}

.upscale-mobile {
	.component-headline-group {
		padding: $medium-spacer-mobile 0;
	}
}

.upscale-mobile,
.upscale-tablet {
	.container-content {
		width: 95%;
		margin: 0 auto;
	}

	[data-component-type='BROWSE'] {
		.container-content {
			width: 100%;
		}
	}
}

.upscale-mobile,
.upscale-tablet {
	[data-component-type='ORDER_DETAILS'] {
		.container-content {
			width: 100%;
			max-width: 600px;
		}
	}
}

[hidden] {
	display: none !important;
}

/** mat-select checked styling **/
.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-indeterminate,
.mat-accent .mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-indeterminate,
.mat-accent .mat-slider-track-fill,
.mat-accent .mat-slider-thumb,
.mat-accent .mat-slider-thumb-label,
.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
	background: #005cc4;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
	border-color: #005cc4;
}

.required {
	&::after {
		content: '*';
		color: $error;
		margin-left: 3px;
		@include small-font-size;
	}
}

owl-date-time-container {
	.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
		background-color: $black;
		color: $white;
	}

	.owl-dt-container-info {
		display: none;
	}

	.owl-dt-calendar-table .owl-dt-calendar-cell-in-range {
		background: $upscale-grey2;
		color: $white;
	}

	.owl-dt-calendar-table .owl-dt-calendar-cell-content {
		border-radius: 0;
	}

	.owl-dt-calendar-table .owl-dt-calendar-cell-in-range.owl-dt-calendar-cell-range-from,
	.owl-dt-calendar-table .owl-dt-calendar-cell-in-range.owl-dt-calendar-cell-range-to {
		border-radius: 0;
	}

	.owl-dt-timer-hour12 {
		color: $black;
	}

	.owl-dt-timer-hour12 .owl-dt-timer-hour12-box:focus .owl-dt-control-button-content,
	.owl-dt-timer-hour12 .owl-dt-timer-hour12-box:hover .owl-dt-control-button-content {
		background-color: $black;
	}

	.owl-dt-container-buttons {
		button:first-child {
			color: $black;
		}

		button:last-child {
			background-color: $black;
			color: $white;
		}
	}
}

mat-datepicker-content {
	mat-calendar {
		mat-calendar-header {
			.mat-calendar-header {
				.mat-calendar-controls {
					justify-content: space-between;
					.mat-calendar-period-button {
						order: 1;

						.mat-calendar-arrow {
							display: none;
						}
					}

					.mat-calendar-previous-button {
						order: 0;
					}

					.mat-calendar-next-button {
						order: 2;
					}

					.mat-calendar-spacer {
						display: none;
					}
				}
			}
		}

		.mat-calendar-content {
			mat-month-view {
				.mat-calendar-table {
					.mat-calendar-body-label {
						visibility: hidden;
					}

					.mat-calendar-body-selected {
						background-color: $black;
					}

					.mat-calendar-body-in-range {
						background-color: $upscale-grey2;
						border-top: 2px solid $white;
						border-bottom: 2px solid $white;

						.mat-calendar-body-today.mat-calendar-body-selected {
							box-shadow: none;
						}

						.mat-calendar-body-cell-content {
							color: $white;
						}

						&::before {
							border-radius: 2px;
							background-color: $upscale-grey2;
						}
					}

					.mat-calendar-body-range-start,
					.mat-calendar-body-range-end {
						background-color: $black;
					}

					.mat-calendar-body-range-end:not(.mat-calendar-body-in-comparison-range)::before,
					.mat-calendar-body-range-end::after,
					.mat-calendar-body-comparison-end:not(.mat-calendar-body-comparison-bridge-end)::before,
					.mat-calendar-body-comparison-end::after,
					.mat-calendar-body-preview-end .mat-calendar-body-cell-preview {
						border-radius: 0;
					}
				}
			}
		}

		.mat-calendar-body-cell-content {
			border-radius: 0;
		}
	}
}
upscale-breadcrumbs{
	background-color: #E6EFF7 !important;
	border-bottom: none !important
}
.breadcrumbs__link{
	font-family: 'ITCAvantGardePro-Md', sans-serif;
	color: #009CDA !important;
	text-decoration: none !important;

}
upscale-dropdown{
	border: 1px solid #009CDA !important;
    color: #009CDA !important;
}
.default-arrow{
	height: 11px !important;
    width: 11px !important;
    border-right: 2px solid #009CDA !important;
    border-bottom: 2px solid #009CDA !important;
}
.inputs .action-button{
	background-color: #009CDA !important;
  color: #ffffff;
}
.card{
	border: solid 1px #C4C4C4 !important;
    margin-bottom: 0 !important;
}
.router-outlet{
	background-color: #FFFFFF;
}
.divisions .division-bar{
	display: none !important;
}
.checkout-sections .formgroup-input-container .formgroup__button{
	background-color: #009CDA !important;
}
.formgroup__button:hover{
	background-color: #009CDA !important;
}
.section__button{
	background-color: #009CDA !important;
}
.section__button:hover{
	background-color: #009CDA !important;
}
nav ul li a .item-icon{
    padding: 7px 6px 0 6px !important;
    width: auto;
    height: 32px !important;
    align-self: center;
}
nav ul li a:hover{
	background-color: transparent !important;
    color: #009CDA !important;
}

upscale-cart.row-item {
    background-color: #E6EFF7;
}
upscale-open-payment-checkout{
	padding: 15px 0 0px !important;
	background-color: #E6EFF7 !important;
}
upscale-attribute-sets .container{
	padding: 0 !important;
}
.body .action-button{
	font-family: $base-font-family !important;
}

.upscale-mobile .container-content, .upscale-tablet .container-content {
    width: 100vw !important;
    margin: 0 auto;
		overflow: hidden !important;
}
.header__hamburger{
    background-color: #009CDA !important;
}
.header__hamburger:hover {
    background-color: #009CDA !important;
}
 .contents{
	 background-color: #009CDA !important;
	 width: 110% !important;
 }
 .link-name{
	 color: #FFFFFF !important;
	 font-family: 'ITCAvantGardePro-Md', sans-serif !important;
	 font-size: 18px;
 }
/** FOOTER**/

.upper-footer-element {
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	display: flex;
}
.upper-footer-element-list {
		display: flex;
		flex-wrap: wrap;
		max-width: 1120px;
		margin: auto;
		justify-content: center;
}
.upper-footer-content-element {
}
.upper-footer-icon-element {
}
.upper-footer-text-element {
	padding-left: 0px;
	padding-right: 5px;
	font-size: 14px;
	line-height: 17px;
}
.upper-footer-text-color {
}
.upper-footer-text-title {
	color: #035F83;
	text-decoration: none;
}

.social-networks {
	padding-right: 10px;
	border-right: 1px solid white;
	flex: 1 1 50%;
	display: flex;
	justify-content: center;
}

.logotipe {
		padding-right: 20px;
		padding-left: 10px;
		display: inline-block;
		vertical-align: middle;
}
.logotipe img{
	max-height: 50px;
}

.social-icon {
		padding-right: 10px;
		padding-left: 10px;
		display: inline-block;
		vertical-align: middle;
}
.social-icon img{
	max-height: 50px;
}
.middle-footer-list {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		max-width: 1000px;
		margin: auto;
}
.social-networks {
		padding-right: 10px;
		border-right: 1px solid white;
		flex: 1 1 49%;
		display: flex;
		justify-content: center;
}
.middle-footeritem {
		padding: 18px 0;
		background-color: #FFFFFF;
		justify-content: center;
		text-align: center;
		flex: 1 1 49%;
}

p.footer-text {
	font-size: 12px;
	text-align: center;
	color:#ffffff;
	margin: 7px;
}
.footer-element {
	flex: 1 1 33%;
}
.footer-element-list {
		display: flex;
		flex-wrap: wrap;
		max-width: 1000px;
		margin: auto;
		text-align: center;
}
.footer-copyright {
		font-size: 11px;
		padding-top: 20px;
		margin: auto;
		text-align: center;
		color: #572f1c;
		width: 98%;
		padding-top: 40px;
}
a.footer-link:link,
a.footer-link:visited,
a.footer-link:hover
{
			color: #572f1c;
}
a.footer-text-link:link,
a.footer-text-link:hover,
a.footer-text-link:visited
{
 color:#ffffff;
 text-decoration: none;
}

.upper-footer {
	background-color: #fff;
	padding: 18px 0;
}
.middle-footer {
	padding: 18px 0;
	background-color: #FFFFFF;
}
.final-footer {
	padding: 18px;
	background-color: #FFFFFF;
}
/** FOOTER**/


/** header contact y faqs*/

.upscale-mobile {
        .content {
            box-sizing: border-box;
            padding: 0px;
            .full-width {
                margin-top: 0px;
                margin-left: -$medium-spacer-mobile;
                margin-right: -$medium-spacer-mobile;
                margin-bottom: -6px;
                &.footer {
                    margin-top: 0px;
                    margin-left: -$medium-spacer-mobile;
                    margin-right: -$medium-spacer-mobile;
                    margin-bottom: -$medium-spacer-mobile;
                }
            }
        }
}



.upscale-tablet {
        .content {
            box-sizing: border-box;
            padding: 0px;
            .full-width {
                margin-top: 0px;
                margin-left: -$medium-spacer-tablet;
                margin-right: -$medium-spacer-tablet;
                margin-bottom: -6px;
                &.footer {
                    margin-top: 0px;
                    margin-left: -$medium-spacer-tablet;
                    margin-right: -$medium-spacer-tablet;
                    margin-bottom: -$medium-spacer-tablet;
                }
            }
        }
}



.upscale-desktop  {
        .content {
            box-sizing: border-box;
            padding: 0px;
            .full-width {
                margin-top: 0px;
                margin-left: -$medium-spacer-desktop;
                margin-right: -$medium-spacer-desktop;
                margin-bottom: -6px;
                &.footer {
                    margin-top: 0px;
                    margin-left: -$medium-spacer-desktop;
                    margin-right: -$medium-spacer-desktop;
                    margin-bottom: -$medium-spacer-desktop;
                }
            }
    }
}


.formulario-title{
  font-family: 'ITCAvantGardePro-Md';
  font-size: 20px;
  line-height: 22px;
  color: #035F83;
}
.formulario-fondo-title{
  height: 175px;
}

.fondoazul-formulario{
  background-color: #E0F3F8;
  padding: 3% 15% 0 20%;
}


.upscale-mobile :host {
	.configuration {
		padding: 0;
		.content {
			padding: $medium-spacer-mobile;
			.full-width {
				margin: 0 -$medium-spacer-mobile;
			}
		}
	}
}

.upscale-tablet :host {
	.configuration {
		padding: 0;
		.content {
			padding: $medium-spacer-tablet;
			.full-width {
				margin: 0 -$medium-spacer-tablet;
			}
		}
	}
}

.upscale-desktop :host {
	.configuration {
		padding: 0;
		.content {
			padding: $medium-spacer-desktop;
			.full-width {
				margin: 0 -$medium-spacer-desktop;
			}
		}
	}
}

.upscale-mobile {
		.content {
			padding: $medium-spacer-mobile;
			.full-width {
				margin: 0 -$medium-spacer-mobile;
			}
		}
}

.upscale-tablet {
		.content {
			padding: $medium-spacer-tablet;
			.full-width {
				margin: 0 -$medium-spacer-tablet;
			}
		}
}

.upscale-desktop  {
		.content {
			padding: $medium-spacer-desktop;
			.full-width {
				margin: 0 -$medium-spacer-desktop;
			}
	}
}


.configuration {
	box-sizing: border-box;
	margin: 0 auto;
}

.container {
	display: block;
	margin: auto;
}
html body{
	background-color: #FFFFFF !important;
}
.faq_title{
	font-family: 'ITCAvantGardePro-Demi', sans-serif !important;
	font-size: 20px;
	line-height: 22px;
	color: #009cda!important;
	text-align: left;
}
.faq_question{
	font-family: 'ITCAvantGardePro-Md', sans-serif !important;
	font-size: 18px;
	line-height: 20px;
	color: #000000;
	text-align: left;
}
.faq_answer{
	font-family: 'ITCAvantGardePro-Bk', sans-serif !important;
	font-size: 14px;
	line-height: 22px;
	color: #000000;
	text-align: left;
}
.faq-header-desktop{
	width: 1990px;
}
@media (min-width: 896px) {
  .faq-header-desktop {
    display: inline;
  }
	.faq-header-mobile{
		display: none;
	}
}
@media (min-width: 320px) and (max-width: 896px) {
  .faq-header-desktop {
    display: none;
  }
	.faq-header-mobile{
		display: inline;
		width: -webkit-fill-available;
	}
}
.account__logout{
	color: #009cda !important;
	border: 1px solid #009cda !important;
}
.content .section__button--edit{
		color: #ffffff !important;
    border: 2px solid #009cda !important;
}
.content .manage-account__delete:hover{
	background-color: #009cda;
}
.content .manage-account__delete{
	color: #ffffff;
	border: none;
}
.formgroup__button{
	background-color: #009cda !important;
}
.quantity-label__text.ng-star-inserted {
    padding-bottom: 10px;
    font-style: italic !important;
    font-size: 12px !important;
    color: #000000 !important;
}
.quantity-label__max.ng-star-inserted {
    padding-bottom: 10px;
    font-style: italic !important;
    font-size: 12px !important;
    color: #000000 !important;
}
[_nghost-serverApp-c55]:not(.showSettings) button[_ngcontent-serverApp-c55]{
	    background: #009cda !important;
			width: 40% !important;
    	line-height: 45px !important;
    	font-size: 16px !important;
}

@media screen and (max-width: 320px) {
      upscale-template[data-name="Home familia"] iframe {
				height: 9091px!important
     }
}
@media screen and (min-width: 319px) and (max-width: 374px) {
      upscale-template[data-name="Home familia"] iframe {
				height: 8537px!important
     }
}
@media screen and (min-width: 375px) and (max-width: 419px) {
      upscale-template[data-name="Home familia"] iframe {
				height: 8537px!important
     }
}
@media screen and (min-width: 420px) and (max-width: 767px) {
      upscale-template[data-name="Home familia"] iframe {
				height: 8331px!important
     }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
      upscale-template[data-name="Home familia"] iframe {
				height: 6435px!important
     }
}
@media screen and (min-width: 1024px) and (max-width: 1439px)  {
      upscale-template[data-name="Home familia"] iframe {
				height: 5623px!important
     }
}
@media screen and (min-width: 1440px) {
      upscale-template[data-name="Home familia"] iframe {
				height: 4420px!important
     }
}




@media screen and (max-width: 320px) {
      upscale-template[data-name="Home empresa"] iframe {
				height: 9694!important
     }
}
@media screen and (min-width: 319px) and (max-width: 374px) {
      upscale-template[data-name="Home empresa"] iframe {
				height: 8983!important
     }
}
@media screen and (min-width: 375px) and (max-width: 419px) {
      upscale-template[data-name="Home empresa"] iframe {
				height: 8738px!important
     }
}
@media screen and (min-width: 420px) and (max-width: 767px) {
      upscale-template[data-name="Home empresa"] iframe {
				height: 8723px!important
     }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
      upscale-template[data-name="Home empresa"] iframe {
				height: 6703px!important
     }
}
@media screen and (min-width: 1024px) and (max-width: 1439px)  {
      upscale-template[data-name="Home empresa"] iframe {
				height: 5915px!important
     }
}
@media screen and (min-width: 1440px) {
      upscale-template[data-name="Home empresa"] iframe {
				height: 4399px!important
     }
}
