@import '~styles/helpers/_module';

@mixin separator() {
	height: 1px;
	width: 100%;
	background-color: #d4d4d4;
	margin: 48px 0 24px 0;
}

@mixin transparent-button() {
	@include button($background-color: transparent, $color: $upscale-grey2, $font-weight: 500, $hover-mix-percent: 30%);
	height: 50px;
	width: 200px;
	max-width: 100%;
	border: 1px solid $upscale-grey2;
	display: block;
	margin: 0 auto;
}

@mixin account-view() {
	padding: 50px 15px;
	max-width: 100%;
	width: 470px;
	margin: 0 auto;
	box-sizing: border-box;

	@media (max-width: 599px) {
		width: 375px;
	}
}
