
@import '~styles/helpers/_module';

:host {
	display: block;

	::ng-deep upscale-aspect-ratio {
		h1,
		h2,
		h3,
		h4 {
			font-weight: bold;
		}
		h1 {
			font-size: 2em;
			margin-top: 0.67em;
			margin-bottom: 0.67em;
		}
		h2 {
			font-size: 1.5em;
			margin-top: 0.83em;
			margin-bottom: 0.83em;
		}
		h3 {
			font-size: 1.17em;
			margin-top: 1em;
			margin-bottom: 1em;
		}
		h4 {
			font-size: 1em;
			margin-top: 1.33em;
			margin-bottom: 1.33em;
		}
	}
}

.upscale-mobile :host {
	.configuration {
		padding: 0;
		.content {
			padding: $medium-spacer-mobile;
			.full-width {
				margin: 0 -$medium-spacer-mobile;
			}			
		}
	}
}

.upscale-tablet :host {
	.configuration {
		padding: 0;
		.content {
			padding: $medium-spacer-tablet;
			.full-width {
				margin: 0 -$medium-spacer-tablet;
			}
		}
	}
}

.upscale-desktop :host {
	.configuration {
		padding: 0;
		.content {
			padding: $medium-spacer-desktop;
			.full-width {
				margin: 0 -$medium-spacer-desktop;
			}
		}
	}
}

.upscale-mobile {
		.content {
			padding: $medium-spacer-mobile;
			.full-width {
				margin: 0 -$medium-spacer-mobile;
			}			
		}
}

.upscale-tablet {
		.content {
			padding: $medium-spacer-tablet;
			.full-width {
				margin: 0 -$medium-spacer-tablet;
			}
		}
}

.upscale-desktop  {
		.content {
			padding: $medium-spacer-desktop;
			.full-width {
				margin: 0 -$medium-spacer-desktop;
			}
	}
}


.configuration {
	box-sizing: border-box;
	margin: 0 auto;
}

.container {
	display: block;
	margin: auto;
}

.headline {
	@include extra-large-font-size;
}

.sub-headline {
	@include font-size(26);
	line-height: 1.38;
}

.text {
	margin: auto 0;
}
